body {
    background-color: #fff;
}

ul {
    padding-left: 0;
    list-style: none;
}

.todo {
    display: inline-block;
    margin-bottom: 2px;
    padding: 5px;

    span {
        margin-right: 10px;
        transition: color .3s;
    }

    button {
        vertical-align: top;
        visibility: hidden;
    }

    &:hover button {
        visibility: visible;
    }
}
